{% extends 'base.html' %}
{% load cache %}
{% load thumbnail %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
  {% cache 20 archive_page %}
    {% for article in archive_page %}
      <p class="fs-3">{{ article.issue_title }}</p>
      <p class="fs-3">{{ article.publish_date }}</p>
      <p>{{ article.article.article_title }}</p>
      <p>{{ article.article.author }}</p>
      <p>{{ article.article.category }}</p>
      <p class="fs-3">{{ article.article.id }}</p>
      {% thumbnail article.issue_img "200x300" crop="center" as im %}
        {% if article.issue_img %}
          <p><img src="{{ im.url }}" alt="journal's photo"></p>
        {% endif %}
      {% endthumbnail %}
      {% if article.all_issue_pdf %}
        <div class="">
          <a role="button"
             href="{{ article.all_issue_pdf.url }}"
             download="{{ article.all_issue_pdf.url }}"
             class="btn btn-light text-dark ml-0">
            Скачать весь номер
          </a>
        </div>
      {% endif %}
      <a role="button"
         href="{{ article.article.article_pdf.url }}"
         download="{{ article.article.article_pdf.url }}"
         class="btn btn-light text-dark ml-0">
        Скачать статью
      </a>
      <a href="{{ article.get_absolute_url }}">link</a>
    {% endfor %}
  {% endcache %}
  {% include 'includes/paginator.html' %}
{% endblock %}
