{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
  <p class="mt-5">{{ article_page.author }}</p>
  <p class="mt-5">{{ article_page.article_title }}</p>
  <p class="mt-5">{{ article_page.keywords }}</p>
  <p class="mt-5">{{ article_page.summary }}</p>
  <p class="mt-5">{{ article_page.affiliation }}</p>
  {% if article_page.article_pdf %}
        <a role="button"
         href="{{ article_page.article_pdf.url }}"
         download="{{ article_page.article_pdf.url }}"
         class="btn btn-light text-dark ml-0">
        Скачать статью
      </a>
  {% endif %}
{% endblock %}
