{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
  {% for cont in page_obj %}
    {% thumbnail cont.head_img "1800x200" crop="center" as im %}
    {% if cont.head_img %}
    <img src="{{ im.url }}" alt="some">
    {% endif %}
    {% endthumbnail %}
    <p class="mt-5 fs-1">{{ cont.title }}</p>
  {% endfor %}
  {{ last_number.issue_title }} <br>
  {{ last_number.issue_number }}
  {{ last_number.article.article_title }}
{% endblock %}
